.mx-card {
  margin-bottom: var(--mx-space-2);
  background: #fff;

  // TODO 圆角，间距
  //margin: var(--mx-space-2);
  //border-radius: var(--mx-space-2);
  //overflow: hidden;

  &-body {
    padding: var(--mx-space-3);
  }
}
